<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/foto.jpg" class="img-fluid" id="fotodeperfil"
          class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">LAURA CAÑETE</p>
        <P>Full Stack developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de Mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                ngPraesentium eos ducimus est, rerum dolorem illo placeat,
                 reprehenderit perferendis magnam eius voluptatum fugiat,
                 voluptates facere saepe quisquam officia maiores temporibus cum?</p>
        </span>
    </div>

</div>
