<div class="row">
    <div>
         <img src="../../../assets/mi rostro.jfif"
          class="img-fluid">
    </div>
    <div>
        <p>LAURA CAÑETE</p>
        <P>Full Stack developer Jr</P>
    </div>
    <div>
        <span>
            <h1> Acerca de Mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                ngPraesentium eos ducimus est, rerum dolorem illo placeat, reprehenderit perferendis magnam eius voluptatum fugiat,
                 voluptates facere saepe quisquam officia maiores temporibus cum?</p>
        </span>
    </div>

</div>
