<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        <ul>
            <li>
                <h1>Trabajo 1</h1>  <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Adipisci facilis voluptates voluptatem. Ullam expedita dolor laudantium,
                 amet fuga sunt commodi! Totam magni nobis nulla vitae doloremque sequi nesciunt,
                  animi qui!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1>  <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Adipisci facilis voluptates voluptatem. Ullam expedita dolor laudantium,
                 amet fuga sunt commodi! Totam magni nobis nulla vitae doloremque sequi nesciunt,
                  animi qui!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1>  <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Adipisci facilis voluptates voluptatem. Ullam expedita dolor laudantium,
                 amet fuga sunt commodi! Totam magni nobis nulla vitae doloremque sequi nesciunt,
                  animi qui!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 1</h1>  <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Adipisci facilis voluptates voluptatem. Ullam expedita dolor laudantium,
                 amet fuga sunt commodi! Totam magni nobis nulla vitae doloremque sequi nesciunt,
                  animi qui!</p>
        </ul>

    </div>

</div>
