<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>proyecto final</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Tempora nulla corrupti error recusandae iusto hic, 
                perspiciatis assumenda numquam tempore odit ducimus cupiditate nesciunt, 
                molestiae iure deleniti ipsa ea saepe architecto.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="../../../assets/amanecer.jpg" class="img-fluid" >
        </div>

    </div>

</div>
